@tailwind base;
@tailwind components;
@tailwind utilities;
/* Css Boiler Plate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
/* Custom Css */
body {
  background-color: whitesmoke;
  overflow-x: hidden;
}
h1 {
  box-shadow: -2px 11px 18px -8px rgba(191, 189, 189, 0.65);
}
.gradient-text {
  background: linear-gradient(to right, #ff3366, #33ccff);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}
span.typing {
  animation: typing steps(20, end) forwards 3s;
  animation-delay: 2s;
}

.gradient-bg {
  background: linear-gradient(to right, #ff3366, #33ccff);
}
.card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}
.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front,
.card-back {
  backface-visibility: hidden;
}
.card-front {
  transform: rotateY(0deg);
}
.card-back {
  transform: rotateY(180deg);
}
.next:hover{
  background: linear-gradient(to right, #ff3366, #33ccff);
  border: none;
  transition: all ease 1s;
}
.next:hover i{
  color: #fff;
}
.git-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: linear-gradient(to right, #ff33667c, #33ccff7c);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.git-btn:hover:before {
  width: 100%;
  background: linear-gradient(to right, #ff3366a4, #33ccff96);
}
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1360px) {
  .container {
    max-width: 1200px;
  }
}







